/* ---- EVERY PAGE ---- */

body{
  margin:0;
}
.page{
  position:fixed;
  top:0;
  z-index: -1;
  height: 100vh;
  width:100%;
}
@media (max-width:700px){
  .page{
    height: auto;
    position: unset;
    margin-bottom: 20%;
  }
}
#previouspage{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 8%;
  height: auto;
  padding: 2%;
  z-index: 1;
}
  @media (max-width:700px){
    #previouspage{
      width: 13%;
      position: unset;
      float: left;
    }
  }
#nextpage{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 8%;
  height: auto;
  padding: 2%;
  z-index: 1;
}
  @media (max-width:700px){
    #nextpage{
      width: 13%;
      position: unset;
      float: right;
    }
  }

  .subtitlecontainer{
    padding: 2%;
  }
  .subtitletext{
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    line-height: 32px;
    font-weight:700;
  }
  .textcontainer{
    padding: 0% 5%;
    text-align: justify;
  }
    @media (max-width:700px){
      .textcontainer{
        padding: 5% 5%;
      }
    }
  .text{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
  }
  .text a{
    text-decoration: none;
    color: #00c9ff;
  }

/* ---- PAGE 1 ---- */

#headerimage{
  position: fixed;
  left: 0;
  display: inline-block;
  width:60vw;
  height: 100%;
  z-index: -1;
}
  @media (max-width:700px){
    #headerimage{
      top: 0;
      height: 40%;
      width: 100%;
    }
  }
.imagecontainer{
  padding: 0% 10%;
  margin-top: 15%;
  margin-left: -15%;
}
  @media (max-width:700px){
    .imagecontainer{
      padding: 0;
      margin-left: 0;
      margin-top: 5%;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  @media (min-width:1100px){
    .imagecontainer{
      margin-top: 10%;
    }
  }
#headertext{
  width:54vw;
  display: inline-block;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: -1;
}
  @media (max-width:700px){
    #headertext{
      top: 35%;
      width: 100%;
    }
  }
#headertextcontainer{
  padding: 15% 10% 10% 10%;
}
  @media (max-width:700px){
    #headertextcontainer{
      padding: 10% 5% 0% 5%;
    }
  }
.titletext{
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  line-height: 46px;
  font-weight:900;
}
  @media (max-width:700px){
    .titletext{
      font-size: 34px;
      font-family: 'Work Sans', sans-serif;
      line-height: 36px;
      font-weight:900;
    }
  }
.infotext{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  color: #6e6e6e;
  padding: 10%;
}
  @media (max-width:700px){
    .infotext{
      padding: 5%;
    }
  }
.googleygif{
  width: 100%;
  height: auto;
}
  @media (max-width:700px){
    .googleygif{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* ---- PAGE 2 ---- */

.speaker{
  width: 24%;
}
  @media (max-width:700px){
    .speaker{
      width: 45%;
    }
  }

/* ---- PAGE 3 ---- */

#riseandshine{
  position:fixed;
  left:0;
  width:50%;
}
@media (max-width:700px){
  #riseandshine{
    position: unset;
    width: 100%;
  }
}
#page3text{
  position:fixed;right:0;width:50%;background-color:#fff;padding:5%;
}
@media (max-width:700px){
  #page3text{
    position: unset;
    width: auto;
  }
}

/* ---- PAGE 4 ---- */

#page4text{
  background-color: #fff;width: 40%;position: fixed;left: 0;padding: 5%;
}
@media (max-width:700px){
  #page4text{
    position: unset;
    width: auto;
  }
}
#applelistening{
  position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;
}
@media (max-width:700px){
  #applelistening{
    position: unset;
  }
}

/* ---- PAGE 5 ---- */
#page5subtitle{
  width:60%;
}
  @media (max-width:700px){
    #page5subtitle{
      width: auto;
    }
  }
#page5text{
  width: 50%;padding:0% 5%;
}
  @media (max-width:700px){
    #page5text{
      width: auto;
    }
  }
#tweetcontainer{
  position:fixed;right: 0;top: 0;width:30%;margin-right:5%;
}
  @media (max-width:700px){
    #tweetcontainer{
      position: unset;
      width: auto;
      margin: 0;
    }
  }
.twitter-tweet-rendered{
  width: auto !important;
  margin: 5%;
}

/* ---- PAGE 6 ---- */

#page6text{
  padding:5% 5%;
}
#textsnippet{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
}
#nineteeneightyfour{
  width: 100%;
  height: auto;
}
.subsubtitletext{
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  line-height: 30px;
  font-weight:700;
}
.unexpanded{
  cursor: zoom-in;
}
.expanded{
  transform: scale(1.4);
  box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.75);
  cursor: zoom-out;
}

/* ---- PAGE 8 ---- */
#homepodlistening{
  width:100%;height:60%;text-align:center;
}
#homepod{
  height:100%;width:auto;
}
  @media (max-width:700px){
    #homepod{
      height: auto;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* ---- PAGE 9 ---- */
#sirieyescontainer{
  width:100%;height:60%;text-align:center;
}
#sirieyes{
  height:100%;width:auto;
}
  @media (max-width:700px){
    #sirieyes{
      height: auto;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* ---- PAGE 11 ---- */

.cdi{
  width: 50%;background-color: #fff;
}
  @media (max-width:700px){
    .cdi{
      width:auto;
    }
  }
.prototype{
  position: fixed;top: 0;right: 0;width: 100%;height: 100%;text-align: right;z-index: -1;
}
  @media (max-width:700px){
    .prototype{
      position: unset;
      text-align: center;
    }
  }
.prototypeimage{
  width: auto;height: 100%;
}
@media (max-width:700px){
  .prototypeimage{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
